<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>module fsm</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/scripts.js"></script>
</head>

<body>
    <div class="container">
        <div class="input-container">
            <h2>dot描述</h2>
            <div style="display: flex;justify-content: space-between;align-items: center;">
                <p>source:"xxx"; trigger:"yyy"; destination:"zzz"; color:"red";</p>
                <button id="additem" style="width: 9%;">add</button>
            </div>
            <textarea id="textInput" placeholder="请输入文本..." rows="10"></textarea>
            <button id="generateButton">生成fsm</button>
        </div>

        <!-- 右侧绘图区域 -->
        <div class="input-container">
            <h2>fsm图</h2>
            <p> 使用dot工具生成的fsm图。</p>
            <div id="resultImage" class="canvas"></div>
            <!-- 添加下载按钮 -->
            <!-- style="display: none;" -->
            <button id="downloadButton" class="download-btn">下载图片</button>
        </div>
    </div>

    <script>
        // 获取按钮和输入框元素
        const generateButton = document.getElementById('generateButton');
        const additemButton = document.getElementById('additem');
        const textInput = document.getElementById('textInput');
        const resultImage = document.getElementById('resultImage');
        const downloadButton = document.getElementById('downloadButton');

        additemButton.addEventListener('click', async function () {
            var newLineText = `source:""; trigger:""; destination:""; color:"";`;
            if (textInput.value.trim() === "") {
                textInput.value += newLineText;
            } else {
                textInput.value += "\n" + newLineText;
            }
        })
        // 为按钮添加点击事件监听
        generateButton.addEventListener('click', async function () {
            resultImage.innerHTML='';
            const text = textInput.value.trim();

            if( check_input(text) === false ) {
                textInput.classList.add('error');
                console.log("check_input error");
                return ;
            }
            try {
                // 向服务器发送POST请求，发送文本内容
                const response = await fetch('http://47.117.65.167:9090/fsm', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ dot: text }),
                });

                if (response.ok) {
                    const blob = await response.blob();
                    const url = URL.createObjectURL(blob);
                    const containerWidth = resultImage.clientWidth;
                    const containerHeight = resultImage.clientHeight;
                    // // 创建一个img元素
                    const img = document.createElement('img');
                    img.src = url;
                    resultImage.appendChild(img);

                    // 等待图片加载完成
                    img.onload = function () {
                        // 计算缩放比例
                        const scaleRatioWidth = containerWidth / img.naturalWidth;
                        const scaleRatioHeight = containerHeight / img.naturalHeight;
                        const scaleRatio = Math.min(scaleRatioWidth, scaleRatioHeight);
                        img.style.width = `${img.naturalWidth * scaleRatio}px`;
                        img.style.height = `${img.naturalHeight * scaleRatio}px`;
                        URL.revokeObjectURL(url);
                    };
                    // 显示下载按钮
                    downloadButton.style.display = 'block';

                    // 绑定下载按钮的点击事件
                    downloadButton.onclick = function() {
                        const url = URL.createObjectURL(blob);
                        const link = document.createElement('a');
                        link.href = url;  
                        link.download = 'generated-image.png'; 
                        link.click();  
                        URL.revokeObjectURL(url);
                    };
                } else {
                    alert("生成图片失败，请稍后再试。");
                }
            } catch (error) {
                console.error("请求失败:", error);
                alert("发生错误，请稍后再试。");
            }
        });
    </script>
</body>
</html>
